@import "utils";
body{
    main {
        .h4-index {
            @include dFlex(center, "", "");
            font-size: 2rem;
            padding: 3rem;
            color: brown;
        }
        .fa-solid {
            @include dFlex(center, "", "");
            font-size: 3rem;
            padding-top: 2rem;
            color: brown;
        }
        .img-main2 {
            position: relative;
            @include dFlex(center, "", "");
            padding-top: 20px;
            img{
                width: 100%;
                height: auto;
            }
        }   
    }
}