/*GENERAL*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    color: black;
}

@import "header";
@import "footer";
@import "main";
@import "utils";

/*DESKTOP*/
    body {
        @include dFlex("", "", column);
        min-height: 100vh;
        background-color:white;
        width: calc(100vw - (100vw - 100%));
        h4 {
            padding: 10px;
        }
        
        .logo {
            float: left;
            padding: 2px 10px;
            .png {
                height: 10px;
            }
            .png:hover {
                transform: scale(1.1);
            }
        }
        a {
            position: relative;
            text-decoration: none;
            color:saddlebrown;
            font-size: 21px;
            letter-spacing: .5px;
            padding: 0 20px;
            cursor: pointer;
            text-shadow: 3px 3px 5px #aaa;
        }
        a:before,
        .efecto-hover:after {
            content: "";
            position: absolute;
            height: 3px;
            width: 0;
            background: whitesmoke;
            transition: .5s;
        }
        .efecto-hover:after {
            left: 0;
            bottom: -10px;
        }
        .efecto-hover:before{
            right: 0;
            top: -10px;
        }
        .efecto-hover:hover:after,
        .efecto-hover:hover:before {
            width: 100%;
        }
        //ubicacion
        .container {
            @include dFlex(space-around, center, "");
            height: 70vh;
            .texto-ubicacion {
                width: 25%;
                .fa-compass{
                    @include dFlex(center, "", "");
                    text-align: center;
                    color: #5a3a00;
                    font-size: 50px;
                }
            }
        }
        .sobre-nosotros {
            @include dFlex(space-between, center, "");
            padding: 10px;
            p {
                margin: 5px;
                margin-right: 60px;
            }
            section {
                display:flex;
                @include widthHeight(1000px, 430px);
                top: 3;
                left: 1;
                img {
                    width: 0;
                    flex-grow: 1;
                    object-fit:cover;
                    opacity: .8;
                    transition: .5s ease;
                }
                img:hover {
                    cursor: crosshair;
                    width: 300px;
                    opacity: 1;
                    filter: contrast(100%);
                }
            }
        }
        .img-principal {
            position: relative;
            @include dFlex(center, center, "");
            @include widthHeight(100%, auto);
            padding-top: 20px;
            img {
                @include widthHeight(100%, auto);
            }
        }
        .pie-pagina {
            background-color:lightsalmon
        }
        //contacto
        .container-form {
            width: 100%;
            max-width: 1100px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 50px;
            margin-top: 90px;
            h2 {
                margin-bottom: 15px;
                font-size: 35px;
            }
            p {
                font-size: 17px;
                line-height: 1.6;
                margin-bottom: 30px;
            }
            a {
                font-size: 17px;
                display: inline-block;
                text-decoration: none;
                width: 100%;
                margin-bottom: 15px;
                color: black;
                font-weight: 700;
                i {
                    color: orange;
                    margin-right: 10px;
                }
            }
            form {
                .campo {
                    width: 100%;
                    padding: 15px 10px;
                    font-size: 15px;
                    border: 1px solid orange;
                    margin-bottom: 20px;
                    border-radius: 3px;
                    outline: 0px;
                }
                textarea {
                    max-width: 530px;
                    min-width: 530px;
                    min-height: 140px;
                    max-height: 150px;
                }
            }
            .btn-enviar {
                padding: 15px;
                font-size: 16px;
                border: none;
                outline: 0px;
                background: orange;
                color: aliceblue;
                border-radius: 3px;
                cursor: pointer;
                transition: all 300ms ease;
            }
            .btn-enviar:hover {
                background: orange;
            }
        }
    }
        
    
    
@media (max-width: 768px)    
    {body {
        header {
            .navegacion {
                li{
                    margin: 30px 0 0 0;line-height: 30px;
                    a {font-size: 20px; color: aliceblue;font-weight: bold ;}
                }
                li:hover{
                    background:none;
                }
                nav {
                    .btn_menu {
                        display: inline-flex;
                    }
                    .menu_items {
                        position: fixed; 
                        @include widthHeight(100vw, calc(100% - 65px));
                        background:blanchedalmond;
                        top: 100vh;
                        text-align: center;
                        transition: all .4s;
                        flex-direction: column;
                        z-index: 10;
                        margin: 0;
                    li {
                        a {font-size: 16px;}
                    }
                }
         
                }
            }
        }
        .sobre-nosotros {
            section {
                img{display: none;}
                img:first-of-type{
                    display: block;
                    @include widthHeight(100%, auto);
                }
            }
            
        }
        .container{
            flex-direction: column;height: auto;justify-content: center;
            .texto-ubicacion{width: 100%;}
            .mapa {
                iframe{width: 100%;}
            }
            .texto-ubicacion {justify-content:center; text-align: center; display:inline-block; padding: 1rem;}
        }
        .container-form{
            grid-template-columns: auto;grid-template-rows: repeat(2,1fr);
            form {
                textarea{display: block;max-width: 100%;}
            }
        }
        .logo{font-size: 30px; padding-left: 35px;}
        .img-principal {z-index: 5;}
        footer {
             flex-direction: column; height: auto; justify-content: center;
            }
        }
    }
        
        
@media (max-width: 1024px) {
    body {
        .sobre-nosotros{
            @include dFlex("", "", column);
            width: 100%;
            .sobre-nosotros-texto {display: flex;order: 2;width: 100%;}
            .sobre-nosotros-imagenes {
                display: flex;order: 1;width: 100%;
                section{width: 100%;}
            }
        }
    }
}
    

 
    
