/*GENERAL*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  color: black;
}

body header {
  width: 100%;
  height: 100px;
  background-color: lightsalmon;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}
body header .navegacion {
  text-align: center;
  text-decoration: none;
}
body header .navegacion nav {
  padding-top: 19px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: auto;
}
body header .navegacion nav .menu_items {
  display: flex;
  list-style-type: none;
  margin-right: 30px;
}
body header .navegacion nav ul {
  display: flex;
  list-style-type: none;
}
body header .navegacion nav .show {
  top: 100px !important;
}
body header .navegacion nav .btn_menu {
  margin-right: 30px;
  font-size: 25px;
  color: aliceblue;
  cursor: pointer;
  display: none;
  color: #aaa;
  font-size: 1.5rem;
}
body header .nav-mobile {
  display: none;
  padding-right: 50px;
}
body header .nav-mobile i {
  font-size: 3rem;
  color: #aaa;
}

body footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: auto;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}
body footer .copy {
  align-self: flex-end;
}
body footer .copy small {
  display: flex;
  justify-content: end;
  padding-right: 20px;
}
body footer .contacto {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

body main .h4-index {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 3rem;
  color: brown;
}
body main .fa-solid {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding-top: 2rem;
  color: brown;
}
body main .img-main2 {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
body main .img-main2 img {
  width: 100%;
  height: auto;
}

/*DESKTOP*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  width: calc(100vw - (100vw - 100%));
}
body h4 {
  padding: 10px;
}
body .logo {
  float: left;
  padding: 2px 10px;
}
body .logo .png {
  height: 10px;
}
body .logo .png:hover {
  transform: scale(1.1);
}
body a {
  position: relative;
  text-decoration: none;
  color: saddlebrown;
  font-size: 21px;
  letter-spacing: 0.5px;
  padding: 0 20px;
  cursor: pointer;
  text-shadow: 3px 3px 5px #aaa;
}
body a:before,
body .efecto-hover:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background: whitesmoke;
  transition: 0.5s;
}
body .efecto-hover:after {
  left: 0;
  bottom: -10px;
}
body .efecto-hover:before {
  right: 0;
  top: -10px;
}
body .efecto-hover:hover:after,
body .efecto-hover:hover:before {
  width: 100%;
}
body .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}
body .container .texto-ubicacion {
  width: 25%;
}
body .container .texto-ubicacion .fa-compass {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #5a3a00;
  font-size: 50px;
}
body .sobre-nosotros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
body .sobre-nosotros p {
  margin: 5px;
  margin-right: 60px;
}
body .sobre-nosotros section {
  display: flex;
  width: 1000px;
  height: 430px;
  top: 3;
  left: 1;
}
body .sobre-nosotros section img {
  width: 0;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
body .sobre-nosotros section img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(100%);
}
body .img-principal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 20px;
}
body .img-principal img {
  width: 100%;
  height: auto;
}
body .pie-pagina {
  background-color: lightsalmon;
}
body .container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
body .container-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
}
body .container-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}
body .container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}
body .container-form a i {
  color: orange;
  margin-right: 10px;
}
body .container-form form .campo {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid orange;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}
body .container-form form textarea {
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}
body .container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: orange;
  color: aliceblue;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
body .container-form .btn-enviar:hover {
  background: orange;
}

@media (max-width: 768px) {
  body header .navegacion li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  body header .navegacion li a {
    font-size: 20px;
    color: aliceblue;
    font-weight: bold;
  }
  body header .navegacion li:hover {
    background: none;
  }
  body header .navegacion nav .btn_menu {
    display: inline-flex;
  }
  body header .navegacion nav .menu_items {
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background: blanchedalmond;
    top: 100vh;
    text-align: center;
    transition: all 0.4s;
    flex-direction: column;
    z-index: 10;
    margin: 0;
  }
  body header .navegacion nav .menu_items li a {
    font-size: 16px;
  }
  body .sobre-nosotros section img {
    display: none;
  }
  body .sobre-nosotros section img:first-of-type {
    display: block;
    width: 100%;
    height: auto;
  }
  body .container {
    flex-direction: column;
    height: auto;
    justify-content: center;
  }
  body .container .texto-ubicacion {
    width: 100%;
  }
  body .container .mapa iframe {
    width: 100%;
  }
  body .container .texto-ubicacion {
    justify-content: center;
    text-align: center;
    display: inline-block;
    padding: 1rem;
  }
  body .container-form {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
  }
  body .container-form form textarea {
    display: block;
    max-width: 100%;
  }
  body .logo {
    font-size: 30px;
    padding-left: 35px;
  }
  body .img-principal {
    z-index: 5;
  }
  body footer {
    flex-direction: column;
    height: auto;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  body .sobre-nosotros {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  body .sobre-nosotros .sobre-nosotros-texto {
    display: flex;
    order: 2;
    width: 100%;
  }
  body .sobre-nosotros .sobre-nosotros-imagenes {
    display: flex;
    order: 1;
    width: 100%;
  }
  body .sobre-nosotros .sobre-nosotros-imagenes section {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */